@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Montserrat:wght@100&family=Oxygen:wght@700&family=Press+Start+2P&family=Roboto:wght@100&family=Sora:wght@300&family=VT323&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  background-color: rgb(252, 252, 252);
}

.container{
  margin: auto;
  width: 600px;
  height: auto;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

img{
  border-radius: 50%;
  height: 110px;
  width: 110px;
  border: 2px solid rgb(0, 204, 255);
  padding: 2px;
}

.name{
  margin-top: 10px;
  font: bolder;
  font-size: 20px;
}

.title{
  margin-top: 5px;
  font-size: 12px;
  color: rgb(156, 154, 154);
}

.follow{
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 1px;
  width: 100px;
  justify-content: center;
}

.social-icons{
  margin: 10px;
  font-size: 25px;
}

a{
  text-decoration: none;
  color: black;
}

.icons:hover{
  color: rgb(0, 204, 255);
}

a:visited{
  color: none;
}

.projects-exp{
  margin: auto;
  display: flex;
  flex-direction: row;
  
}

.info-block{
  margin: 10px;
}

.info-title{
  font-size: 10px;
}

.info-amount{
  font-size: 12px;
  font-weight: bolder;
}

.resume{
  margin: auto;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  
}

.view{
  margin: 5px;
}

.view:hover




